.app-header {
  width: 100%;
  padding: 20px 40px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  position: fixed;
}

.title {
  margin: 0;
  font-size: 2rem;
  font-weight: 800;
  color: black;
}

.login-screen {
  display: flex;
  height: 80vh;
  width: 100%;
  margin-top: 90px;
}

.login-image {
  flex: 1;
  display: flex;
  justify-content: flex-start;  
  align-items: center;
  background-color: rgb(247, 242, 242);
}

.login-image img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  display: block;
}

.login-content {
  flex: 1;
  padding: 60px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white; 
}

.login-content h1 {
  color: #FF4B00;
  font-size: 2.5rem;
  font-weight: 700;
}

.login-content p {
  margin-top: 5px;
  color: black;
  font-size: 1rem;
}

.login-content span {
  color: #FF0B23;
}

.login-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-box {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.input-box label {
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.input-box input {
  background-color: #F3F3F3;
  border: 1px solid #ddd;
  padding: 12px 14px;
  border-radius: 8px;
  font-size: 15px;
  transition: border 0.3s ease;
}

.input-box input:focus {
  outline: none;
  border: 1px solid #FF0B23;
}

.input-box input::placeholder {
  color: #aaa;
}

.login-btn {
  background: #FF0B23;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background: #e00d20;
}

.input-row {
  display: flex;
  gap: 20;
}

.input-row .input-box {
  flex: 1;
}

/* Tablet view */
@media (max-width: 768px) {
  .login-content {
    width: 90%;
    padding: 30px 20px;
  }

  .login-content h1 {
    font-size: 2rem;
  }

  .login-content p {
    font-size: 0.95rem;
  }

  .login-btn {
    font-size: 0.95rem;
    padding: 10px;
  }

  .input-row {
    flex-direction: column;
    gap: 15px;
  }
}

/* Mobile view */
@media (max-width: 480px) {
  .login-content {
    width: 100%;
    padding: 25px 15px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 120px;
  }

  .login-content h1 {
    font-size: 1.8rem;
  }

  .login-content p {
    font-size: 0.9rem;
  }

  .input-box label {
    font-size: 0.9rem;
  }

  .input-box input {
    padding: 10px 12px;
    font-size: 14px;
  }

  .login-btn {
    font-size: 0.9rem;
    padding: 10px;
  }

  .input-row {
    flex-direction: column;
    gap: 15px;
  }
}